.hero{
    margin:90px 100px 0px 100px;
 
}
.hero-text{
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;

}
.hero-explore{
    display: flex;
    align-items: center;
    gap: 40px;
    width: fit-content;
    padding: 5px 8px;
    padding-left: 30px;
    border-radius: 60px;
    background-color: #fff;
    cursor: pointer;
}
.hero-explore p{
    color: #292929;
    font-size: 20px;
    font-weight: 500;
    margin-top: revert-layer;

}
.hero-dot-paly{
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
}
.hero-dots{
    display: flex;
    align-items: center;
    gap: 23px;
    list-style: none;
}
.hero-dot{
    width: 15px;
    height: 15px;
    background:#fff;
    border-radius: 7.5px;cursor: pointer;
}
.hero-dot.orange{
background: orangered;
}
.hero-play{
    display: flex;
    align-items: center;
    gap: 30px;
}
